// Custom styles for this template
a {
  text-decoration: none !important;
}
.aside-menu {
  .nav-tabs .nav-link,
  .callout {
    border-radius: 0;
  }
}

.sidebar {
  .sidebar-nav,
  ul.nav {
    width: $sidebar-width - 16px;
  }
}

// Here you can add other styles

.top-space {
  padding-top: 18px;
}

.top-linespace {
  padding-top: 5px;
}

.red {
  color: red;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.absolute {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 9;
  line-height: 2;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  span {
    padding-left: 10px;
  }
}
.absolute1 {
  position: absolute;
  top: 68px;
  width: 100%;
  z-index: 9;
  line-height: 2;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  span {
    padding-left: 10px;
  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  opacity: 0.5;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body #root > .fullimage {
  background-image: url("/img/backgroud.png");
}
.DateInput_input {
  padding: 0px 11px 9px !important;
}
.for-select {
  .form-group {
    margin-bottom: 0 !important;
    width: 90%;
  }
}
.addoption {
  background-color: #fa755a;
}
.cursor-pointer {
  cursor: pointer;
}
.custom_select_validation {
  .Select-control {
    border-color: #f86c6b;
  }
}
.error-color {
  color: #f86c6b;
}
.Select-menu-outer {
  z-index: 9 !important;
}
thead {
  tr {
    th {
      .fa-sort {
        cursor: pointer;
      }
    }
  }
}
.for-phone-right {
  .intl-tel-input .country-list {
    margin: 0 0 0 -114px !important;
  }
}

.for-client-card {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  width: 100%;
  .card-body,
  .card-block {
    padding: 0;
  }
}
.color-info {
  .dropdown-menu {
    left: -24px !important;
    button {
      width: 100% !important;
    }
  }
  .shift_added {
    background-color: #3174ad !important;
  }
  .shift_requested {
    background-color: #ffc107 !important;
  }
  .shift_assigned {
    background-color: #17a2b8 !important;
  }
  .shift_ongoing {
    background-color: #4dbd74 !important;
  }
  .shift_completed {
    background-color: #f86c6b !important;
  }
  .shift_expired {
    background-color: #818a91 !important;
  }
  .shift_holiday {
    background-color: #e66929 !important;
  }
}
.DayPicker-Day--highlighted {
  background-color: orange;
  color: white;
}
.emp-date .DayPicker-Day--highlighted {
  background-color: grey;
  color: white;
}
.stripe_h {
  color: #20a8d8;
  cursor: pointer;
}
.rbc-day-bg {
  cursor: pointer;
}
.wg-class .card {
  border: none !important;
}
.card-body {
  .row {
    .form-group {
      input[type="text"] {
        width: 100% !important;
        height: calc(2.0625rem + 2px) !important;
      }
      input[type="email"] {
        width: 100% !important;
        height: calc(2.0625rem + 2px) !important;
      }
      input[type="number"] {
        width: 100% !important;
        height: calc(2.0625rem + 2px) !important;
      }
      input[type="password"] {
        width: 100% !important;
        height: calc(2.0625rem + 2px) !important;
      }
    }
  }
}

.custom_single_date {
  .rdt {
    float: right;
    padding-right: 60px;
    padding-bottom: 10px;
  }
}
.file_card {
  .fa-5x {
    font-size: 10rem !important;
    margin-bottom: 10px;
  }
  h4 {
    margin-bottom: 0 !important;
  }
}
/*
.ReactCrop {
   background-color: transparent!important;
}*/

.for-employee-view.card {
  border: 0 !important;
}