

@media (max-width: 1200px) and (min-width: 768px){
    .width-adjus {
        flex: 0 0 50%;
        max-width: 50%;
    }  
}

@media (max-width: 990px) and (min-width: 768px){
.dash-timesheet .pr-2.col-md-4 {
    max-width: 50%;
    flex: 0 0 50%;
}
.dash-timesheet .rounded-0.col-md-4 {
    max-width: 50%;
    flex: 0 0 50%;
}
}
@media (max-width: 767px) and (min-width: 568px){
.dash-timesheet .rounded-0.col-md-4 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    }
}	
	
@media (max-width: 991.98px){
    .left-invoice-width {
        width: 100%;
        margin-bottom: 12px;
    }
.justify-content-end .col-lg-auto.pr-0 {
        width: auto!important;
    }
.justify-content-end .col-lg-3.pl-0 {
        width: auto!important;
    }
    
.app-header.navbar{
    background-color: #ffffff!important;
    border-bottom: 1px solid #d1d4d7!important;
}
.sidebar-mobile-show .main{
    margin-right: 0px!important;
    margin-left: 200px !important;
}
.sidebar .sidebar-nav, .sidebar ul.nav{
    width: 200px!important;
}
.sidebar-mobile-show .sidebar{
    width: 200px!important;

}
.table-responsive{
    margin-bottom: 10px; 
}
.left-invoice-width {
    width: 100%;
    margin-bottom: 12px;
}
}
@media (max-width: 767px){
   .rbc-calendar {
    width: 800px;
    }
   .main .adj-pad{
       padding: 0px 0px 0px 0px !important;
   }
   .rbc-toolbar{
        font-size: 13px!important;
    }
    .rbc-toolbar button{
        padding: 6px!important;
    }
}

@media (max-width: 567px){
    .left-invoice-width .DateRangePickerInput__showClearDates {
        padding-right: 0;
    }
    .app-body .sidebar .sidebar-nav, .sidebar ul.nav {
        width: 100%!important;
    }
    .sidebar-mobile-show .app .sidebar{
        width: 100%!important;
    
    }
    .sidebar-mobile-show .app .main{
        margin-left: 100%!important;
    }
    ol.breadcrumb li{
        font-size: 14px;
    }
    .main .container-fluid{
        padding: 0 10px!important;
    }
    .card-body .font-xs {
        font-size: 11px!important;
    }
    .card-body h4 {
        font-size: 18px;
    }
    .app-header.navbar .navbar-brand{
        width: 182px!important;
    }
    .card .card-header{
        font-size: 13px !important;
    }
    
   
}
@media (max-width: 414px){
   
    .page-link, .pagination-datatables li a, .pagination li a{
        padding: 8px 6px!important;
        font-size: 12px!important;  
    }
    .card .justify-content-end .col-lg-auto.pr-0 {
        width: 30% !important;
        padding-left: 0;
    }
    .card .justify-content-end .col-lg-3.pl-0 {
        width: 57% !important;
    }
}
@media (max-width: 320px){

}