.mult-pages .invoice-ans.Toastify__toast-container--top-right {
  top: 4em !important;
  right: 1em;
}
.new-switch {
  width: 100px !important;
  height: 30px !important;
}
.switch.switch-text .switch-input:checked ~ .new-handle {
  left: 73px !important;
  border-radius: 50%;
}
.sidebar-fixed .sidebar {
  background-color: white;
}
.card .p-3.card-body {
  padding: 30px 12px !important;
}
.sidebar-fixed .sidebar {
  padding: 0px;
}
.sidebar .sidebar-nav,
.sidebar ul.nav {
  width: 240px;
  padding: 0;
}
.sidebar .nav-link.active,
.sidebar .navbar .active.dropdown-toggle,
.navbar .sidebar .active.dropdown-toggle {
  border-radius: 0px;
  background: #272626;
}
.sidebar .nav-link:hover,
.sidebar .navbar .dropdown-toggle:hover,
.navbar .sidebar .dropdown-toggle:hover {
  border-radius: 0px;
  background: #545656;
  color: #fff !important;
}
.sidebar .nav-dropdown.open {
  /*background: #545656!important;*/
  background: #119dcd !important;
  border-radius: 0;
}
.sidebar .nav-link:hover i {
  color: #fff !important;
}
.sidebar-fixed .sidebar {
  background-color: #119dcd !important;
  color: #fff !important;
}
.sidebar .nav-link,
.sidebar .navbar .dropdown-toggle,
.navbar .sidebar .dropdown-toggle {
  color: #fff;
}
.sidebar .nav-link i,
.sidebar .navbar .dropdown-toggle i,
.navbar .sidebar .dropdown-toggle i {
  color: #fff;
}
input.DateInput_input {
  padding: 6px 11px 6px !important;
  font-size: 15px;
  line-height: 0;
}
.DateRangePicker_picker {
  box-shadow: 5px 5px 10px #ddd;
}
.table-striped span.badge {
  padding: 10px;
}
.btn-info {
  color: #ffffff;
  background-color: #00adf1;
  border-color: #00adf1;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #00adf1;
  border-color: #00adf1;
}
.card-header {
  background-color: #dde3e8!important;
    border: 1px solid #d1d4d7!important;
  font-size: 15px !important;
  font-weight:600!important;
}
li.nav-item.nav-dropdown a {
  cursor: pointer;
}
.animated .position-relative p {
  margin-bottom: 0.5rem;
}
.DayPicker_transitionContainer {
  box-shadow: 5px 4px 9px #ddd;
}
/* .DayPicker-Months{
} */
.main .DayPicker-Day {
  border: 1px solid #ddd;
}
/*** login Side ***/
.text-white.bg-primary.py-5.d-md-down-none.new-social-details.card {
  border-color: transparent;
}
.google-login {
  background: #a52728;
  border-color: #a52728;
  color: #fff;
  border-radius: 0px;
  width: 70%;
  margin: 10px;
}
.google-login:hover {
  background: #a52728;
  border-color: #a52728;
  color: #fff;
  border-radius: 0px;
}
.facebook-login {
  background: #3b5998;
  border-color: #fff;
  color: #fff;
  border-radius: 0px;
  width: 70%;
  margin: 10px;
  border-color: #3b5998;
}
.facebook-login:hover {
  background: #3b5998;
  color: #fff;
  border-color: #3b5998;
}
.app-header.navbar .nav-item button {
  border-bottom: 1px solid #d1d4d7;
}

.sidebar-fixed .sidebar .client-color {
  background-color: #fefefe !important;
  color: #2d2d2d !important;
}
.sidebar .client-color .nav-link,
.sidebar .client-color .navbar .dropdown-toggle,
.navbar .sidebar .client-color .dropdown-toggle {
  color: #2d2d2d !important;
}
.sidebar .client-color .nav-link i,
.sidebar .client-color .navbar .dropdown-toggle i,
.navbar .sidebar .client-color .dropdown-toggle i {
  color: #2d2d2d !important;
}
.sidebar .client-color .nav-link:hover,
.sidebar .client-color .navbar .dropdown-toggle:hover,
.navbar .sidebar .client-color .dropdown-toggle:hover {
  background: #00adf1;
}
.sidebar .client-color .nav-dropdown.open {
  background: #00adf1 !important;
}
.sidebar .client-color .nav-link.active,
.sidebar .client-color .navbar .active.dropdown-toggle,
.navbar .sidebar .client-color .active.dropdown-toggle {
  background: #00adf1 !important;
}
.breadcrumb li {
  font-size: 16px;
  font-weight: bold;
}
.breadcrumb {
  background-color: #000000;
  border-radius: 0;
  margin-bottom: 14px;
}
ol.breadcrumb li.breadcrumb-item a {
  color: #232222;
}
ol.breadcrumb li.active.breadcrumb-item a {
  color: #232222 !important;
}
.card-body span.badge {
  padding: 11px;
}
.card-body span.badge {
  padding: 11px;
  margin: 0px 3px;
}
.breadcrumb-item.active {
  color: #a8acae;
}
.card-subtitle {
  display: flex;
  margin-bottom: 20px !important;
}
span.plan-left {
  width: 50%;
  color: #000;
}
span.plan-right {
  width: 50%;
  color: #5c5b5b;
}

.card-body .card-title {
  margin-bottom: 18px;
  font-size: 16px;
  color: #272626;
  padding-bottom: 12px;
  border-bottom: 1px solid #dddddd85;
}

.card-body .card-title span {
  color: #17789e;
}
span.star-values {
  padding: 5px 0px;
}
.switch.switch-text .switch-label {
  background-color: red !important;
  border-radius: 20px;
}
.card-body .nav-tabs {
  border-bottom: 1px solid #818a91;
  background-color: #00adf1;
  border-radius: 0;
}

.card-body ul li.nav-item a.active.nav-link {
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  color: #000 !important;
}
.card-body ul li.nav-item a.nav-link {
  color: #fff !important;
}
.modal-content .badge {
  padding: 10px;
}
.left-mapdetails {
  width: 40%;
  float: left;
}
.right-mapdetails {
  width: 60%;
  float: left;
  padding: 0px;
}
.full-mapdetails {
  float: left;
  width: 500px;
}
p.view-det {
  display: flex;
  margin: 0;
  padding: 5px 5px;
}
p.view-det span {
  width: 100%;
  font-size: 13px;
  color: #424445;
  white-space: nowrap;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
p.view-det span strong {
  font-weight: bold;
}
.left-mapdetails img {
  width: 150px;
  float: none;
  background-color: transparent;
  height: 150px;
  margin: 0;
  text-align: left;
  display: inherit;
  border-radius: 0;
  object-fit: cover;
}
p.form-equr button {
  margin: 0 3px 0 0px;
}
p.form-equr {
  padding: 20px 0 0;
}
button.btn.btn-sereq {
  background-color: #00adf1;
  color: #fff;
  font-size: 13px;
  border: 1px solid #00adf1;
}
button.btn.btn-sereq:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #272626;
}
button.btn.btn-assgn {
  background-color: #272626;
  color: #fff;
  font-size: 13px;
  border: 1px solid #272626;
}
button.btn.btn-assgn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #00adf1;
}
.user-view-details img {
  width: 120px;
  height: 120px;
  background-color: #aaa;
  display: block;
  text-align: center;
  margin: 10px auto;
  border-radius: 50%;
}
.modal-lg.view_profile {
  max-width: 400px;
}
p.view-det span strong {
  color: #00adf1;
}
sapn.mid-arr {
  text-align: right;
  float: right;
  padding: 0px 6px;
}
.default-user {
  height: 175px;
}
.default-user {
  height: 175px;
}
body #root > .fullimage {
  background-size: cover;
}

p.view-det.map-names span {
  color: #129e12;
  font-size: 14px;
  padding-top: 0;
}
span.fa.fa-star {
  color: #ffc107;
  font-size: 20px !important;
}
span.fa.fa-star-o {
  color: #ffc107;
  font-size: 20px !important;
}
li.dropdown.nav-item span.badge {
  width: 24px;
  height: 24px;
  padding: 7px 0;
  text-align: center;
}
.dropdown-menu {
  width: 250px !important;
}
.dropdown-item i {
  margin-right: 5px !important;
}
span.total-days {
  display: inline-block;
  padding: 0px 10px;
  font-weight: bold;
  color: #00adf1;
}
p.total-period {
  padding: 33px 0 0;
  margin: 0;
}

.switch.switch-text .switch-handle {
  top: 4px !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}
.switch.switch-text .switch-handle {
  left: 5px !important;
}
.modal-dialog b {
  padding: 0 6px 0 0;
}
fieldset.position-relative .position-relative {
  padding-top: 16px;
}
.card-body table .badge-secondary {
  color: #795548 !important;
  background-color: transparent !important;
  font-size: 14px;
  padding: 0 !important;
}
.emy-edits label {
  float: left;
  width: 100%;
}
.emy-edits .SingleDatePicker {
  width: 100%;
}
.emy-edits .SingleDatePickerInput {
  width: 100%;
  float: left;
}
.emy-edits .DateInput {
  width: 100%;
}
.emy-edits button {
  padding: 7px !important;
  border-radius: 0px;
  margin-top: 30px !important;
}
.val-show button {
  padding: 7px !important;
  border-radius: 0px;
}
.val-show b {
  float: left;
  width: 100%;
}
.val-show {
  padding: 5px 0;
}
.input-group select.btn.btn-primary {
  padding: 0;
  font-size: 12px;
}
.card-body table .badge-danger {
  color: red !important;
  background-color: transparent !important;
  font-size: 14px;
  padding: 0 !important;
}
.card-body table .badge-success {
  color: green !important;
  background-color: transparent !important;
  font-size: 14px;
  padding: 0 !important;
}
.invalid-feedback {
  font-size: 14px;
  color: red !important;
}
.justify-content-center button.btn.btn-primary.active {
  background-color: #131314 !important;
  border-color: #131314 !important;
  margin: 10px;
}
span.po-left {
  width: 50%;
  float: left;
}
span.po-right {
  width: 50%;
  float: left;
}
.modal-header {
  background-color: #b6dce8;
  padding: 10px;
}
h5.modal-title {
  color: #1d1919;
  font-size: 16px;
}
.dash-points {
  padding: 10px;
  width: 100%;
  display: flex;
}
span.po-left i {
  padding: 0 10px 0 0px;
  color: #009688;
}

/*----------21/8/18--------*/

.for-phone-right .intl-tel-input .country-list {
  width: 100%;
  margin: 0 !important;
}
.card-body ul li.nav-item a.nav-link {
  border-color: transparent !important;
}
.nav-tabs .nav-item {
  margin-bottom: 0px;
}

.tab-content .tab-pane ul.nav.nav-tabs {
  border: 1px solid #ddd;
}

div.card-body .nav-tabs {
  border-bottom: 0px solid #818a91 !important;
  background-color: #00adf1;
  border-radius: 0;
  border: 0;
}

.autocomplete-dropdown-container.absolute.my_styles {
  width: 91%;
}
.absolute{
top: 70px!important;
}
ul.invoice-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ul.invoice-view li {
  width: 50%;
  display: flex;
  padding: 8px 0;
}
ul.invoice-view li span.inv-heading {
  font-size: 15px;
  font-weight: bold;
  color: #136e92;
  width: 42%;
  display: flex;
}
ul.invoice-view li span.inv-desc {
  font-size: 15px;
  font-weight: normal;
  color: #787c7d;
  width: 42%;
  display: flex;
}
ul.invoice-view li span.inv-heading span {
  margin-left: auto;
  padding: 0px 8px;
}
ul.invoice-view li.invoice-widths {
  width: 100%;
  background-color: #f2f3f3;
  padding: 15px;
  border: 1px solid #ddd;
  margin: 20px 0;
}
ul.invoice-view li.invoice-widths .days-durations {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.days-durations h5 {
  width: 100%;
  display: flex;
  font-size: 17px;
  margin: 17px 0;
  font-weight: bold;
  color: #250101;
}
.days-dura {
  width: 50%;
  padding: 8px 0;
  display: flex;
}
.rbc-event-content {
  //white-space: normal !important;
  //font-size: 12px;
}
.rbc-event {
  border-radius: 0px !important;
}
.agency-arra {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.agency-arra .name-date {
  width: 100%;
  display: flex;
}
.agency-arra .name-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.agency-arra .name-date .timesheet-info h5 {
  font-size: 17px;
  color: #000;
  font-weight: bold;
}
.agency-arra .name-date .timesheet-info p {
  font-size: 15px;
}
.main-profiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.main-profiles .left-agency-profile {
  width: 40%;
  display: flex;
  background-color: #d2d2d2;
  height: 126px;
}
.main-profiles .left-agency-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-profiles .right-agency-profile {
  width: 60%;
  padding: 0 30px;
}
.main-profiles .right-agency-profile h5 {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.main-profiles .right-agency-profile p {
  font-size: 14px;
  color: #5d5d5d;
}
td.tota-value {
  font-size: 16px;
  font-weight: bold;
}

.card .card-body ul li.nav-item a.active.nav-link:before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #119dcd;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.card-body ul li.nav-item a.active.nav-link {
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  color: #fff !important;
  background-color: #f7f7f7;
  position: relative;
}
.card .nav-tabs .nav-item {
  margin-bottom: 0px;
  background-color: #f7f7f7;
  /* border-bottom: 1px solid #ddd; */
}
.card .card-body ul li.nav-item a.nav-link {
  border-color: transparent !important;
  border-bottom: 1px solid transparent !important;
  font-size: 14px;
}

.card .card-body ul li.nav-item a.active.nav-link {
  color: #119dcd !important;
  font-weight: 600;
}

.card .card-body ul li.nav-item a.nav-link {
  color: #000 !important;
}

.card div.card-body .nav-tabs {
  border-bottom: 2px solid #119dcd !important;
  background-color: #f7f7f7;
  border-radius: 0;
  margin: 15px 0 0;
}

.nav-item.nav-dropdown.open ul.nav-dropdown-items {
  background-color: #fff !important;
}

.nav-item.nav-dropdown.open ul.nav-dropdown-items li a.nav-link.active {
  font-weight: bold;
}

.nav-item.nav-dropdown.open ul.nav-dropdown-items li a.nav-link.active i {
  font-weight: bold;
  color: #000 !important;
}

ul.nav-dropdown-items a.nav-link.active:hover {
  color: #000 !important;
}
.nav-item.nav-dropdown.open ul.nav-dropdown-items li a.nav-link {
  color: #000;
  font-size: 13px;
  padding-left: 30px;
}
.nav-item.nav-dropdown.open ul.nav-dropdown-items li a.nav-link i {
  color: #000;
  font-size: 13px;
}
.sidebar .nav-link.active,
.sidebar .navbar .active.dropdown-toggle,
.navbar .sidebar .active.dropdown-toggle {
  border-radius: 0px;
  background: transparent !important;
}

.card-body .table-bordered thead th,
.card-body .table-bordered thead td {
  border-bottom-width: 0px;
}

.card-body .table-bordered th,
.card-body .table-bordered td {
  border: 1px solid #ddd;
}

button#clear {
  background-color: #6e6e6e;
  border-color: #6e6e6e;
}

.of_unset {
  max-width: auto;
}

.input-group select.btn.btn-primary {
  padding: 0;
  font-size: 12px;
}

.of_unset .input-group select.btn.btn-primary {
  margin-right: 10px;
}

.col-lg-6.of_unset {
  max-width: unset !important;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  color: #fff !important;
  background-color: #00adf1 !important;
  border-color: #00adf1 !important;
}

.main .container-fluid {
  padding: 0 10px;
}

.width-adjus i.fa {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 0 !important;
  border-radius: 50%;
}

.rbc-toolbar button {
  outline: none !important;
  font-size: 14px;
}
.rbc-header {
  padding: 8px !important;
}

footer.app-footer {
  background-color: #fff;
}

table.table.table-sm.table-bordered {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wid_ten {
  width: 10%;
}

.card-body .table-bordered th,
.card-body .table-bordered td {
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

.table-bordered {
  border: 1px solid #e5e5e5 !important;
}

table.table.table-bordered.table-hover thead {
  border-bottom: 1px solid #e3e3e3;
  background: #f4f4f4;
}

.card-body .table-bordered thead th,
.card-body .table-bordered thead td {
  color: #333;
}

.map_min {
  min-height: 400px;
}

.rbc-time-content {
  border-top: 1px solid #ddd !important;
}

.ct_scrl ::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.ct_scrl ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 0px;
}

.ct_scrl ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0px;
}

.ct_scrl ::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.custom_scroll {
  width: 1450px;
}

.table-responsive.ct_scrl.mt-2 {
  margin-bottom: 20px;
}
.sidebar .nav-link.active,
.sidebar .navbar .active.dropdown-toggle,
.navbar .sidebar .active.dropdown-toggle {
  border-radius: 0px;
  background: #808080 !important;
}

i.fa.p-3.font-2xl.mr-3.float-left {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 0 !important;
  border-radius: 50%;
  color: #fff;
}

.sidebar .nav-dropdown.open a.nav-link.active {
  background-color: transparent !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd !important;
}

.table th,
.table td {
  padding: 8px !important;
  border-bottom: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
}
.app-header.navbar .navbar-toggler {
  outline: none !important;
}
p.total-period {
  padding: 0px 0 10px !important;
  margin: 0;
}

.mt-4.logos_heres img {
  width: auto;
}

.card-footer {
  float: left;
  width: 100%;
}
button.btn.btn-success.pull-right.mb-3.btn-md {
  margin-bottom: 0 !important;
}
i.fa.fa-dot-circle-o {
  margin-right: 5px;
}

div.main-profiles .left-agency-profile img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 0 auto;
}
div.main-profiles .left-agency-profile {
  width: 40%;
  display: flex;
  background-color: transparent;
  height: auto;
}

div.main-profiles .right-agency-profile {
  width: 60%;
  padding: 10px 30px;
}

.card-footer #approve {
  padding: 6px 30px;
  border-radius: 60px;
}

.top_address_wraps {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.left_invoive_add {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.top_address_wraps h1 {
  font-size: 16px;
  width: 100%;
  margin-bottom: 0;
}

.left_invoive_add p {
  width: 50%;
  line-height: 25px;
  font-size: 15px;
}
.right_invoive_add .col-md-5:last-child p {
  width: 100%;
  line-height: 25px;
  font-size: 15px;
}
.right_invoive_add {
  display: flex;
  text-align: right;
  float: right;
}
.new_table_design thead {
  box-shadow: 2px 2px 20px #333;
}
.new_table_design tbody tr:first-child td {
  padding-top: 25px !important;
}

.agency-arra .name-date {
  display: none;
}
.overall-total {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.overall-total .total-price {
  width: 30%;
  display: flex;
}
.overall-total .total-price ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.overall-total .total-price ul li {
}

.overall-total .total-price ul li {
  list-style-type: none;
  padding: 5px 0px;
}

.overall-total .total-price ul li span {
  font-size: 15px;
  color: #000;
}

.overall-total .total-price ul li:last-child span {
  font-weight: bold;
}

.overall-total .total-price ul li:last-child {
  border-top: 1px solid #ddd;
}

.due_payment {
  display: flex;
  width: 100%;
  padding: 15px;
}

.inner_dues {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

span.pay_adv {
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inner_dues h1 {
  font-size: 20px;
  margin-bottom: 5px;
  width: auto;
  background-color: #ff5252;
  color: #fff;
  padding: 10px 20px;
  -webkit-animation: duefun 2s infinite;
  animation: duefun 2s infinite;
}

@-webkit-keyframes duefun {
  from {
    background-color: #ff5252;
  }
  to {
    background-color: #ff9800;
  }
}

@keyframes duefun {
  from {
    background-color: #ff5252;
  }
  to {
    background-color: #ff9800;
  }
}

.bank_dets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.bank_dets p {
  width: 100%;
  margin-bottom: 5px;
}

.inner_bank_dets {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
}

.inner_bank_dets span.bk_dets:last-child {
  width: 100%;
}

.inner_bank_dets span.bk_dets {
  width: 50%;
  display: flex;
  margin-bottom: 10px;
}
a.view_pay {
  color: #00adf1 !important;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline !important;
  cursor: pointer;
  width: 100%;
}

.pay_bot_adv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.pay_bot_adv h1 {
  width: 100%;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}

.pay_bot_adv p {
  width: 100%;
  margin-bottom: 0;
}

.overall_bot_divs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.overall_bot_divs .col-md-7 {
  padding: 0;
}

.overall_bot_divs .col-md-7 p {
  width: 45%;
  line-height: 25px;
  font-size: 15px;
}

.overall_bot_divs ul {
  a: 0;
  padding: 0;
  width: 100%;
}

.overall_bot_divs ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  width: 100%;
  color: #000;
}

.overall_bot_divs ul li span.lefts {
  font-weight: bold;
  width: 30%;
}

p.tos_dvis {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}

table.table.table-sm.table-bordered.table-hover td:last-child button {
  margin: 0 !important;
  padding: 0 5px !important;
  font-size: 14px;
}

table.table.table-sm.table-bordered.table-hover td:last-child {
  vertical-align: middle;
}

.app-body .main .container-fluid {
  padding: 0 15px;
}
.table-edit i.fa.fa-edit {
  color: #795548;
}
.rbc-toolbar button {
  outline: none;
}

div.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #119dcd !important;
  border-color: #119dcd !important;
  color: #fff !important;
}
.btn-info {
  color: #ffffff;
  background-color: #119dcd !important;
  border-color: #119dcd !important;
}
.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.3rem 1rem;
  border-radius: 0px;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
}
div.rbc-header {
  padding: 3px 3px;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}
div.card-header {
  font-weight: normal;
}

.card-body .table-bordered thead th,
.card-body .table-bordered thead td {
  border-bottom-width: 0px;
  font-weight: normal;
}

ol.breadcrumb li {
  font-size: 16px;
  font-weight: normal;
}

li.breadcrumb-item.active {
  color: #232222;
}
li.breadcrumb-item + .breadcrumb-item::before {
  color: #232222;
  content: "/";
}
ol.breadcrumb {
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 15px;
}

.width-adjus .card {
  margin-bottom: 15px;
}
footer.app-footer {
    background-color: #505050;
    color: #fff;
}

.width-adjus .card i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0 !important;
  text-align: center;
  border-radius: 50%;
}
.color-info button.btn-sm.btn-info.btn.btn-secondary {
  height: 47px;
}

.new_invoice_desin .col-12.col-md-4 select {
  width: 100% !important;
  max-width: 100%;
}

.col-lg-7.new_deisn_warp {
  display: flex;
  margin-bottom: 20px;
}

.col-lg-7.new_deisn_warp div {
  padding-left: 0;
}

.col-lg-7.new_deisn_warp div .col-lg-5 select {
  width: 70% !important;
  max-width: -webkit-fill-available;
}

.col-lg-7.new_deisn_warp select {
  width: 70% !important;
  max-width: initial;
}

.col-lg-6.emp_list_wp {
  display: flex;
}

.btn-primary {
  color: #fff !important;
  background-color: #119dcd !important;
  border-color: #119dcd !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #119dcd !important;
  border-color: #119dcd !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
}
.col-lg-7.agency_times {
  display: flex;
}

.modal-lg.view_profile {
  max-width: 1000px;
  margin: 1.5rem auto;
}

section.empl_profle {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.fl_flex {
  display: flex;
  width: 100%;
}

.pro_lft {
  flex: 0 0 17%;
}

.pro_lft img {
  max-width: 100%;
}

.pro_rght {
  flex: 0 0 83%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-left: 20px;
}

.pro_rght p {
  width: 100%;
}

.emp_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 0%;
}

ul.list_det {
  display: flex;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}

ul.list_det li {
  list-style-type: none;
}

ul.list_det li {
  flex: 0 0 50%;
  padding: 10px 0px;
  border-bottom: 1px solid #dddddd;
  display: flex;
}

ul.list_det li span {
  flex: 0 0 50%;
}

ul.list_det li span:nth-child(1) {
  position: relative;
  font-weight: 600;
  flex: 0 0 40%;
}
ul.list_det li span:nth-child(1):before {
  position: absolute;
  content: ":";
  height: 10px;
  width: 10px;
  right: 40px;
  left: unset;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.pro_lft img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.pro_rght p:first-child {
  font-weight: 700;
}
ul li:nth-last-child(2) {
  border-bottom: none;
  padding-bottom: 0;
}
ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.sidebar .nav-dropdown.open .nav-dropdown.open a.nav-link.nav-dropdown-toggle {
  color: #fff;
}

.sidebar .nav-dropdown.open .nav-dropdown.open a.nav-link.nav-dropdown-toggle i {
  color: #fff;
}

ul.country-list {
  width: 100%;
  font-size: 13px;
}

ul.list_det li span span:before {
  content: none !important;
}

ul.list_det li span span:first-child {
  font-weight: normal;
}
span.badge.badge-success {
  padding: 10px;
}

.rbc-day-bg.rbc-today {
  background-color: #51be82;
  color: #fff;
}
.rbc-date-cell.rbc-now {
  color: #fff;
}
.new_table_design tbody tr th {
  text-align: center;
}
.new_table_design tbody tr td {
  text-align: center;
}
.new_table_design .table thead th {
  text-align: center;
}
span.align-width-left {
  width: 55%;
  float: left;
}
span.align-width-right {
  width: 45%;
  float: left;
  text-align: center;
}
.rbc-header span {
  font-weight: bolder;
}
nav.sidebar-nav button.nav-link.nav-dropdown-toggle {
  border: 0;
  text-align: left;
  width: 100%;
}
.nav-item.nav-dropdown.open ul.nav-dropdown-items li button {
  color: #000;
  font-size: 13px;
  padding-left: 30px;
}
.nav-item.nav-dropdown.open ul.nav-dropdown-items li button i {
  color: #000;
}

button.view_pay {
  height: 45px;
  padding: 10px 20px !important;
  font-size: 15px;
  font-weight: 600;
  background-color: #51be82;
  color: #fff;
  border: 0px;
}
.inner_dues.dues-parts form {
  width: 100%;
}
p.due-label {
  font-size: 16px;
  font-weight: bold;
}
.inner_dues.dues-parts .av-valid {
  width: 100%;
}
.inner_dues.dues-parts form.av-valid {
  width: 100%;
}
.arrr-inputs label {
  width: 100%;
}
.virw-page {
  margin-bottom: 18px;
}
.arrr-inputs label {
  width: 100%;
  display: flex;
}
.crep-pags {
  width: 70%;
}
.crep-pags .Select-control {
  border: 1px solid #ddd;
  border-radius: 0;
}
form.av-submitted.av-valid label {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
form.av-submitted.av-valid .Select-control {
  border-radius: 0px;
  border: 1px solid #ccc;
  height: 38px;
  margin-bottom: 8px;
}
form.av-submitted.av-valid textarea.form-control {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 100px;
}
.modal-body {
  //max-height: 500px;
  //overflow: auto;
}
.modal-body::-webkit-scrollbar {
  width: 8px;
}
.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.modal-body::-webkit-scrollbar-thumb {
  background: #888;
}
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rbc-toolbar .rbc-toolbar-label {
  color: #000;
  font-weight: bold;
}
.rbc-toolbar button {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #00adf1 !important;
  padding: 8px 10px !important;
}
.rbc-header span {
  color: #fff;
}
.rbc-header {
  background-color: #51be82;
}
.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: #51be82 !important;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  box-shadow: inset 0 3px 5px transparent !important;
  background-color: #51be82 !important;
  border-color: #51be82 !important;
  color: #fff !important;
}
.rbc-off-range-bg {
  background: #e5e5e580 !important;
}

.card-body .table-bordered thead th {
  font-weight: bold;
  background-color: #119dcd;
  color: #fff;
}
.card-body .table-bordered tbody tr {
  cursor: pointer;
}
.card-body .table-bordered tbody tr:nth-child(odd) {
  background: #fff;
}
.card-body .table-bordered tbody tr:nth-child(even) {
  background: #dddddd61;
}

.view-table {
  padding: 0;
  background-color: transparent;
}
.view-table i.fa.fa-eye {
  font-size: 14px;
  color: #009688;
}
td.client-role {
  color: #2196f3;
}
table-edit {
  padding: 0;
  background-color: transparent;
}
.table-edit i.fa.fa-sign-in {
  color: #3f51b5;
}
td.client-email {
  color: #673ab7;
}
.table-edit {
  background-color: transparent;
  font-size: 14px;
  padding: 0 !important;
}
td.total-amount {
  color: #009688;
}
small.total-amount {
  color: #009688;
}

.table-responsive {
  float: left;
  margin-bottom: 16px;
  overflow: hidden;
}
.card-header .card-actions a,
.card-header .card-actions button {
  width: auto;
  padding: 0.75rem 16px;
}
/*
.table-responsive ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.table-responsive ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 0px;
}

.table-responsive ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0px;
}

.table-responsive ::-webkit-scrollbar-thumb:hover {
  background: grey;
}
*/
form.av-valid .tab-content label {
  width: 100%;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

form.av-valid .tab-content .Select-control {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 40px;
  background-color: #fff;
}
form.av-valid .tab-content .Select-control input {
  border: 1px solid transparent;
}
form.av-invalid label {
  width: 100%;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
form.av-invalid input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 38px;
  background-color: #fff;
}
form.av-invalid .Select-control {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 38px;
  background-color: #fff;
}
form.av-invalid .Select-control input {
  border: 1px solid transparent;
}

.Select--multi .Select-value {
  margin-top: 10px !important;
}
.tab-content {
  float: left;
  width: 100%;
}
button.table-edit.btn.btn-info {
  margin: 0 !important;
  padding: 0 5px !important;
  background-color: transparent !important;
  font-size: 14px;
  border: 0;
}
.table-edit i.fa.fa-user-circle {
  color: #050871;
  font-size: 14px;
}
.dash-timesheet {
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
}
.dash-timesheet .card {
  border-radius: 0;
  padding: 15px 10px;
  margin: 0;
}
i.fa.p-4.font-2xl.mr-3.float-left {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 0 !important;
  border-radius: 50%;
  color: #fff;
}
.gm-style::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.gm-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 0px;
}

.gm-style::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0px;
}
.gm-style::-webkit-scrollbar-thumb:hover {
  background: grey;
}

ul.settings-admins.nav.nav-tabs {
  margin: 10px auto;
  width: 75%;
  border: 0;
}
ul.settings-admins.nav.nav-tabs li a {
  border: 1px solid #ddd;
  border-radius: 0;
  border-right: 0;
}
ul.settings-admins.nav.nav-tabs li a:last-child {
  border-right: 1px solid #ddd;
}
ul.settings-admins.nav.nav-tabs li a.active {
  background-color: #009688;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.right-agency-profile {
  width: 100%;
}
/*.table-responsive.scroll-ptions table {
  width: 1300px;
}*/
.single-invoice {
  width: 100%;
}
.invoice-paid {
  width: 100%;
  flex-wrap: nowrap;
  margin: 20px 0;
}
.invoice-paid h3 {
  width: 100%;
  background-color: #58d45c;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.full-invoice {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
  border-bottom: 1px solid #dddd;
}
.left-heading-invoice {
  width: 50%;
  justify-content: flex-start;
  display: flex;
}
.right-heading-invoice {
  width: 50%;
  justify-content: flex-end;
  display: flex;
}
.left-heading-invoice h4 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.invoice-forms {
  width: 100%;
  display: flex;
  padding: 20px 0 0;
}
.no-pad {
  padding: 0;
}
.mult-pages {
  width: 100%;
  display: flex;
  padding: 5px 0;
}
.mult-pages .invoice-lab {
  width: 40%;
  display: flex;
}
.mult-pages .invoice-ans {
  width: 60%;
}
.mult-pages .invoice-lab p {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin: 0px;
  padding: 0px;
}
.mult-pages .invoice-ans p {
  font-size: 15px;
  color: #5f5c5c;
  width: 70%;
  margin: 0px;
  padding: 0px;
  line-height: 23px;
}
.balance-gbr {
  width: 100%;
  display: flex;
}
.balance-dates {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}
.balance-dates h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.balance-gbr .balance-price {
  width: 20%;
  justify-content: flex-end;
  display: flex;
  padding: 0px;
}
.balance-gbr .balance-price p {
  font-size: 14px;
  color: #383333;
}
.left-heading-invoice h4 span {
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
.invoice-des {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.invoice-des .left-desp {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.invoice-des .right-desp {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
.invoice-des h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.invoice-des p {
  font-size: 14px;
  margin: 0;
}
.balance-gbr p {
  margin: 0;
  font-size: 14px;
}
.balance-gbr {
  width: 100%;
  display: flex;
  padding: 6px 0;
}
.price-category {
  width: 100%;
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
}
.subscribe-lists {
  width: 33.33%;
  display: flex;
  padding: 0px 15px;
}
.price-category {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subscribe-lists .sub-design {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #fff;
}
.subscribe-count {
  width: 100%;
  padding: 30px 15px;
}
.subscribe-count p {
  margin: 0;
  text-align: center;
}
.subscribe-count p span {
  width: 40px;
  height: 40px;
  background-color: #119dcd;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 38px;
}
.subscribe-lists .sub-design h4 {
  background-color: #119dcd;
  padding: 20px 15px;
  color: #fff;
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.subscribe-lists .sub-design h4 p {
  width: 100%;
  padding: 10px 0 10px;
  margin: 0;
  font-size: 14px;
}
.subscribe-lists .sub-design h4 p span {
  color: #ffc107;
}
.subscribe-lists .sub-design h2 {
  margin: 0;
  padding: 20px 15px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #c37b0e;
}
.subs-lists {
  width: 100%;
  background-color: #f3f3f3;
  padding: 15px;
  margin: 0 0 5px;
}
.subs-lists p {
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.subs-lists p span {
  color: #119dcd;
}
.subs-des {
  width: 100%;
  background-color: #f3f3f3;
  padding: 15px;
  margin: 0 0 5px;
}
.subs-buttons {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
}
.subs-des p {
  width: 100%;
  margin: 0;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.subs-buttons p {
  margin: 0;
  text-align: center;
}
.subs-buttons p button {
  background-color: #119dcd;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 60px;
}
.subs-buttons p button:hover {
  background-color: #000;
}
.hover-drop {
  position: relative;
  border: 2px solid #119dcd;
  background-color: transparent !important;
  color: #119dcd !important;
  padding: 6px 20px;
  font-weight: bold;
  font-size: 14px;
}
ul.rel-postion {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  position: absolute;
  z-index: 999;
  border: 1px solid #ddd;
  width: 180px;
  left: -58px;
  top: 34px;
  display: none;
}
ul.rel-postion li {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
ul.rel-postion li:last-child {
  border-bottom: 0;
}
ul.rel-postion li button.btn.ch-views {
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
}
.hover-drop:hover ul.rel-postion {
  display: block;
}
td.plan-power {
  font-weight: bold;
  color: #119dcd;
}
.form-options {
  width: 100%;
}
.form-options .group-control {
  width: 100%;
  margin-bottom: 20px;
}
.form-options .group-control label {
  width: 100%;
  font-size: 14px;
  color: #464444;
}
.form-options .group-control .StripeElement {
  border: 1px solid #ccc;
  box-shadow: 3px 5px transparent;
  border-radius: 2px;
  height: 40px;
  width: 100%;
}

.full-pay {
  display: flex;
}
.arrow-pat {
  width: 100%;
}
.left-pay {
  width: 100%;
}
.right-pay {
  width: 100%;
}
.form-options .group-control button {
  background-color: #4dbd74;
  color: #fff;
  border-radius: 60px !important;
  font-size: 14px;
  font-weight: bold;
}
.payment-plans {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  float: left;
}
.upper-pays {
  padding: 15px;
  width: 100%;
  float: left;
}
.payment-plans h4 {
  font-size: 17px;
  font-weight: bold;
  color: #073458;
  padding: 0px 0 10px;
}
.payment-plans p strong {
  font-weight: bold;
}
.payment-plans ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
.payment-plans ul li {
  width: 100%;
  float: left;
  padding: 6px 0;
}
li.bolding-text {
  font-weight: bold;
}
.payment-plans ul li:last-child {
  border-top: 1px solid #ddd;
  padding: 16px 0;
  margin-top: 14px;
}
.billing-info {
  padding: 15px;
  border-top: 1px solid #ccc;
  float: left;
  width: 100%;
}
.billing-info h6 {
  font-size: 15px;
  color: #000;
  padding: 0px 0 15px;
  margin: 0;
}
.billing-info h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0px 0px 10px;
}
.billing-info p {
  font-size: 14px;
  margin: 0;
  padding: 0 0 6px;
}
p.billing-add {
  width: 40%;
}
.accounts-widths {
  width: 46%;
  margin: auto;
}
.accounts-billing {
  width: 100%;
  margin-bottom: 20px;
}
.bill-account {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.bill-account .upper-bill {
  width: 100%;
  padding: 15px;
  background-color: #fff;
}
.bill-account .upper-bill h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}
.below-bill {
  width: 100%;
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color:#fff;
}
.below-bill p {
  font-size: 14px;
  margin: 0;
  padding: 6px 0;
}
.below-bill button.btn {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #959798;
  color: #119dcd;
  font-size: 15px;
  margin: 20px 0;
  border-radius: 60px;
}
.below-bill button.btn:hover {
  background-color: #119dcd;
  color: #fff;
}
p.pay-strips {
  text-align: center;
  font-size: 15px;
  color: #3c3b3b;
}
.acc-pages {
  border: 1px solid #ccc;
  padding: 30px 0;
  background-color: #f5f5f5;
}
.pay-strips {
  text-align: center;
  width: 100%;
}
button.btn.btn-outline-danger {
  font-size: 14px;
  padding: 6px;
  background-color: #636060;
  color: #fff;
}

.btn.btn-success {
  padding: 6px 30px;
  border-radius: 60px;
}
.btn-secondary {
  padding: 6px 30px;
  border-radius: 60px;
}
.btn-md {
  border-radius: 0 !important;
  padding: 0.375rem 0.75rem !important;
}

.btn-primary {
  padding: 6px 30px;
  border-radius: 60px;
}
.rounded-0.btn-primary {
  padding: 0.375rem 0.75rem;
  border-radius: 0;
}
.login-valid form.av-invalid input.is-touched {
    width: 90% !important;
    height: 38px !important;
}
span.po-left b {
  font-weight: bold;
}
span.po-right .badge {
  padding: 12px 30px;
  border-radius: 60px;
}
.rounded-0 {
  padding: 0.375rem 0.75rem !important;
}
.adj-pad {
  float: left;
  padding: 0px 15px 0px 0px !important;
}
.adj-pad1 {
  float: left;
  padding: 0px 0px 0px 15px !important;
}
.draft-details p {
  margin: 0;
  padding: 5px;
  font-size: 14px;
}
.draft-details p strong {
  font-weight: 600;
}

.card-footer .badge {
  padding: 12px 30px !important;
  border-radius: 60px;
}
.btn-info {
  border-radius: 60px;
  padding: 12px 30px;
}
.av-valid .position-relative label {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.av-valid label {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.modal-footer .badge {
  border-radius: 60px;
  padding: 12px 30px;
}
.var-values {
  margin-top: 28px;
}
.var-values .btn-info {
  border-radius: 60px;
  padding: 8px 30px;
}
.tab-content .tab-pane {
  float: left;
  width: 100%;
}
.dash-timesheet i.fa.p-4.font-2xl.mr-3.float-left {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  padding: 0 !important;
  border-radius: 50%;
  color: #fff;
  font-size: 16px !important;
}
.dash-timesheet .pt-3 {
  padding: 0 !important;
}
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  width: 100% !important;
  height: 38px !important;
}
textarea.was-validated .form-control:invalid ,
textarea.form-control.is-invalid ,
textarea.was-validated .custom-select:invalid ,
textarea.custom-select.is-invalid {
  width: 100% !important;
  height: 100px !important;
}

.modal-footer .btn-sm {
  border-radius: 0;
  padding: 0.375rem 0.75rem;
}
.payment-headings {
  width: 100%;
}
.payment-headings ul {
  padding: 0;
  margin: 20px 0 30px;
  text-align: center;
  list-style: none;
  position: relative;
}
.payment-headings ul li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 15px;
  position: relative;
}
.payment-headings ul li span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #d6d6d6;
  border-radius: 50%;
  font-size: 13px;
}
.payment-headings ul li.active span {
  background-color: #484747;
  color: #fff;
}
.payment-headings ul li:before {
  content: "";
  position: absolute;
  border: 1px solid #ddd;
  width: 22px;
  top: 11px;
  left: -11px;
}
.payment-headings ul li:first-child:before {
  content: none;
}
.right-agency-profile h5 {
  font-size: 16px;
}
.time-headings h1 {
  text-align: center;
  margin: 10px 0 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  color: #00adf1;
  font-weight: bold;
}
.crop-img img {
  object-fit: contain;
  margin-bottom: 20px;
  height: auto;
  float: right;
}
.upper-range {
  width: 100%;
}
.right-agency-profile {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #b7aaaa;
  background-color: #fff;
}
.right-agency-profile h5 span {
  font-size: 14px;
  color: #777777;
  padding: 0px 2px;
}
.lower-range {
  width: 100%;
}
.btn-sm {
  border-radius: 0 !important;
  padding: 0.375rem 0.75rem !important;
}
.ap-all {
  padding: 5px 20px;
  margin-top: 25px;
}
.Toastify__toast-container--top-right {
  top: 4em !important;
  right: 1em !important;
}

.online-forms .SingleDatePicker {
  width: 100%;
}
.online-forms .DateInput {
  width: 100%;
}
.online-forms .SingleDatePickerInput__withBorder {
  width: 100%;
}
.online-forms strong.sm-heading {
  color: #00adf1;
  font-size: 15px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
}
.sav-cont button {
  padding: 6px 30px !important;
  border-radius: 60px;
}
.online-forms h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 20px;
  width: 100%;
}
.online-forms legend {
  text-align: left;
  font-size: 15px;
  color: #544f4f;
  padding: 0 0 6px;
  margin: 0;
  display: inherit;
  font-weight: bold;
}
.online-forms .form-control.border-0 {
  border: 0px !important;
  text-align: initial;
  height: auto !important;
  background-color: transparent;
}
.che-box.col {
  font-size: 16px;
  color: #312e2e;
}
textarea.form-control {
  height: 100px !important;
  padding: 10px;
}

.right-edit-side.online-forms p {
  font-size: 15px;
  line-height: 26px;
  color: #4a4545;
}
.invalid-feedback {
  font-size: 15px;
}
.form__wrap.extra h3.task1 {
  color: #1568b7;
  text-align: center;
}
.online-forms .SingleDatePicker {
  width: 100%;
}
.online-forms .DateInput {
  width: 100%;
}
.online-forms .SingleDatePickerInput__withBorder {
  width: 100%;
}
.online-forms strong.sm-heading {
  color: #00adf1;
  font-size: 15px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
}
.sav-cont button {
  padding: 6px 30px !important;
  border-radius: 60px;
}
.online-forms input.form-control {
  height: 40px !important;
}
.app-forms {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 30px;
}
.app-forms h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0px;
}
p.lead button {
  text-align: center;
  margin: 10px auto;
  border-radius: 60px;
  padding: 8px 30px !important;
  font-size: 15px;
}
.leading-btns {
  margin: 20px auto;
  width: 100%;
  justify-content: center;
  display: flex;
}
.leading-btns span {
  text-align: center;
  margin: 10px auto;
  border-radius: 60px;
  padding: 10px 30px !important;
  font-size: 15px;
}
p.lead {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 24px;
}
.pro-radius {
  border-radius: 60px;
  text-align: center;
  padding: 13px 36px !important;
  margin: 20px auto;
  cursor: pointer;
  font-size: 14px;
}
.prev-next button {
  border-radius: 60px;
  padding: 6px 36px !important;
}
.online-forms .some-select .DateInput {
  width: auto;
}
.online-forms .some-select .DateInput {
  width: 130px;
}
.online-forms .av-valid .some-select input {
  width: 100%;
}
.check-moves {
  margin: 0 15px;
}
.qual-cals .badge {
  border-radius: 60px;
  padding: 13px 16px !important;
}
button.btn.btn-info.ne-movers {
  text-align: right;
  float: right;
  padding: 6px 16px;
}
.npm-pad {
      padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 25px;
    font-size: 11px;
    margin: 0px 1px;
}
button.btn.btn-info.appl-all {
  padding: 6px 30px;
  margin: 28px 0 0;
}

.views-information {
  width: 100%;
  display: flex;
}
.info-categories {
  width: 100%;
}
.cate-ranges {
  width: 100%;
}
.cate-ranges p {
  width: 100%;
  margin: 0;
  padding: 3px 0;
  display: flex;
  flex-wrap: wrap;
}
.cate-ranges p span.left-views {
  width: 50%;
  font-size: 15px;
  color: #545353;
  font-weight: 600;
}
.cate-ranges p span.right-views {
  width: 50%;
  font-size: 14px;
  color: #757575;
}
.cate-ranges p span.left-views span.col-qus {
  text-align: right;
  float: right;
  padding: 0px 10px;
}
.cate-ranges h4 {
  font-size: 14px;
  color: #32415a;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 15px;
  padding-bottom: 15px;
}
.card-body .nav-link,
.card-body .navbar .dropdown-toggle {
  padding: 0.5rem 0.7rem !important;
}
.form .form__input {
  height: 40px !important;
}
.rs-form button {
  margin-top: 32px;
}

.mar-ajd {
  margin: 0px 18px;
}
.onl-mar {
  margin: 10px 0 20px;
  justify-content: center;
}
.tog-refern button {
  text-align: left;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
}
.differ-colors {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.refer-colors .new-switch {
  width: 103px !important;
}
.col-12.col-md-2 .btn-block {
  text-align: center !important;
}
input[type="radio"],
input[type="checkbox"] {
  height: auto !important;
  width: auto !important;
}
p.h5 {
  font-size: 16px;
  color: #119dcd;
}
.av-valid legend {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.cate-ranges h2 {
    font-size: 16px;
    font-weight: bold;
    color: #3F51B5;
    margin: 10px 0 20px;
    text-align: center;
    text-transform: uppercase;
}

p.doc-project {
  display: unset;
  width: 100%;
}
span.doc-left {
  width: 100%;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  display: flex;
}
span.doc-right {
  width: 100%;
  font-size: 15px;
  display: flex;
}
.cate-ranges h5 {
  font-size: 14px;
  color: #32415a;
  margin: 0 0 15px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
}
button.btn.view-table i.fa.fa-star {
  color: #ff9800;
  font-size: 18px;
}
legend {
  width: 100%;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
table.table.view-table th {
  background-color: #119dcd;
  color: #fff;
  font-size: 15px;
}
table.table.view-table td {
  font-size: 14px;
}
td.bold-days {
  color: #009688;
  font-weight: bold;
}

td.Inactive {
  color: red;
}
td.active {
  color: #0a790e;
}
tr.common-tab:nth-child(even) {
  background: #e2e5f1;
}
tr.common-tab:nth-child(odd) {
  background: #fff;
}
table.table.table-bordered.view-table.over-fun {
  max-height: 303px;
  overflow: auto;
}
.modal-content .tab-content {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.pop-shifts form.av-invalid input {
  border: 0;
}
.modal-gal button.btn {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  padding: 0 !important;
}
form.av-invalid .pop-shifts input {
  border: 0;
}
.sidebar .nav-link,
.sidebar .navbar .dropdown-toggle,
.navbar .sidebar .dropdown-toggle {
  font-size: 15px;
}
p.view-det button.btn-sm {
  border-radius: 60px !important;
  padding: 6px 17px !important;
}
.covers-tables {
  background: #fff;
  margin-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.1);
  width: 100%;
}
.card {
  background-color: #f7f7f7 !important;
  border: 0 !important;
}
body {
  background-color: #f7f7f7 !important;
}
button.btn-mail.btn {
  background-color: #ac2f20bd;
  border-color: #ac2f20bd;
  padding: 7px 32px;
}
button.btn-download.btn {
  background-color: #007c7db0;
  border-color: #007c7db0;
  padding: 7px 32px;
}
button.btn-ask.btn {
  background-color: #1c2c9cad;
  border-color: #1c2c9cad;
  padding: 7px 32px;
}
button.btn-assign.btn {
  background-color: #ff3d00b0;
  border-color: #ff3d00b0;
  padding: 7px 32px;
}
.no-padding {
  padding: 0;
}
.cate-ranges h4.dash-foheading {
  background-color: #fff;
  padding: 0 0 13px;
  display: flex;
  margin: 0px;
}
h4.dash-foheading .left-dash {
  width: 25%;
  line-height: 36px;
}
h4.dash-foheading .right-dash {
  width: 75%;
}
.cus-design {
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: 2px 2px 5px #ddd;
  margin-bottom: 15px;
}
.for-employee-view.card {
  background-color: #fff !important;
}
.sub-ranges .card {
  width: 100%;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  padding: 15px 10px;
  border-radius: 0;
  margin-bottom: 10px;
}
.emp-full {
  width: 100%;
  float: left;
  padding: 0px 15px;
}
.emp-full .cus-design {
  float: left;
}
.info-widths {
  width: 50%;
  float: left;
  padding: 0 15px 0 0;
}
h4.dash-foheading.no-bar {
  border: 0;
  padding: 0;
}

.avg-pdding {
  padding-left: 15px;
  padding-right: 15px;
}
.avg-pdding .card .p-3.card-body {
  padding: 1rem !important;
}
.page-item:first-child .page-link,
.pagination-datatables li:first-child .page-link,
.pagination li:first-child .page-link,
.page-item:first-child .pagination-datatables li a,
.pagination-datatables li .page-item:first-child a,
.pagination-datatables li:first-child a,
.page-item:first-child .pagination li a,
.pagination li .page-item:first-child a,
.pagination li:first-child a {
  border-top-left-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
}
.page-item:last-child .page-link,
.pagination-datatables li:last-child .page-link,
.pagination li:last-child .page-link,
.page-item:last-child .pagination-datatables li a,
.pagination-datatables li .page-item:last-child a,
.pagination-datatables li:last-child a,
.page-item:last-child .pagination li a,
.pagination li .page-item:last-child a,
.pagination li:last-child a {
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
}
nav.float-left select.form-control {
  border-radius: 60px;
}
.cus-design.edited-section {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}
.tab-content {
  background: transparent !important;
  border: 0 !important;
}
.cus-design.edited-section p.h5 {
  font-size: 14px;
  color: #32415a;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 15px;
  padding-bottom: 15px;
}
label.form-check-label {
  font-size: 14px !important;
  font-weight: normal !important;
  color: #757575 !important;
}
.custom_single_date .form-check-input {
  margin-left: 0;
}
span.Man-heading {
  padding: 0px 0 0 20px;
}
.card-footer .btn-info {
  border-radius: 60px;
  padding: 6px 30px;
}

.right-agency-profile.time-news h5 {
  width: 100%;
  display: flex;
  padding: 12px 0;
  margin: 0;
}
.right-agency-profile h5 span.times-heading {
  width: 40%;
  color: #403c3c;
}
span.times-para {
  width: 60%;
}
.right-agency-profile.time-news {
  padding: 13px;
}
.new_invoice_pages {
  width: 100%;
}
.right_invoive_add p {
  color: #5a5a5a;
  font-size: 14px;
}
.right_invoive_add p strong {
  font-weight: 700;
}
.times-tables thead {
  background-color: #119dcd;
  color: #fff;
}
.card-body .times-tables tbody tr:nth-child(odd) {
  background: #fff;
}
.card-body .times-tables tbody tr:nth-child(even) {
  background: #dddddd61;
}
.sub-ranges .card .p-3.card-body {
  padding: 0 !important;
}
button.btn-open {
  background-color: #86550db5;
  border-color: #86550db5;
  padding: 7px 32px;
}
.doc-upload {
  width: 100%;
  position: relative;
}
.doc-upload p {
  width: 33.33%;
  float: left;
  position: relative;
  margin: 20px 0;
}
.doc-upload p img {
  width: 62px;
  text-align: center;
  margin: 14px auto 0;
  display: inherit;
}
.doc-upload p span.documents-name {
  width: 100%;
  float: left;
  text-align: center;
  color: #32415a;
  font-size: 13px;
  padding: 6px 6px;
  word-break: break-all;
}
.doc-upload p span.documents-del {
  text-align: center;
  width: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 11%;
}
.documents-del button.btn {
  background-color: #f86c6b;
  color: #fff;
  font-size: 11px;
  width: 26px;
  border-radius: 60px;
  margin-bottom: 10px;
  height: 26px;
  padding: 0px;
}
.upl-files .custom-file {
  margin-bottom: 20px;
}
.upl-files {
  position: relative;
}

.dashboard-ranges {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
}
.rbc-calendar {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
}
.rbc-calendar .rbc-month-view {
  height: auto;
}
.avail-addings {
  width: 35px;
  height: 35px;
}
.jobs-clients b {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
p.fee-heading {
  color: #119dcd;
  font-size: 16px;
}
button.btn-add {
  background-color: #4caf50;
  border-color: #4caf50;
  padding: 6px 25px;
  border-radius: 60px;
  color: #fff!important;
  font-size: 15px;
}
.upload-forms {
  width: 100%;
  display: flex;
  border: 1px solid #ddd;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 15px;
}
.upload-forms label {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  justify-content: center;
  background: #4b79a1;
  background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
  background: linear-gradient(to right, #283e51, #4b79a1);
}
strong.an-heading {
  font-size: 15px;
  font-weight: bold;
  color: #481616;
  padding-bottom: 10px;
  display: flex;
}
.pl-sus {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.pl-sus:hover {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.pl-dan {
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}
.pl-dan:hover {
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}
.upload-forms-edit {
  width: 100%;
  display: flex;
  border: 1px solid #ddd;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 15px;
}
.upload-forms-edit label.frm-edit {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  justify-content: center;
  background: #4b79a1;
  background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
  background: linear-gradient(to right, #283e51, #4b79a1);
}
.upload-forms-edit .custom-file {
  width: 80%;
  margin: 15px 0 15px 15px;
}
.documents-download button.btn {
  background-color: #595858;
  color: #fff;
  font-size: 11px;
  width: 25px;
  border-radius: 60px;
  margin-bottom: 10px;
  height: 25px;
  padding: 0px;
}
span.documents-download {
  text-align: center;
  width: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 32%;
}
.pro-interview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gad_cl1 {
  background: #159957;
  background: -webkit-linear-gradient(to top, #155799, #159957);
  background: linear-gradient(to top, #155799, #159957);
}
.gad_cl2 {
  background: #5C258D;  
background: -webkit-linear-gradient(to bottom, #4389A2, #5C258D); 
background: linear-gradient(to bottom, #4389A2, #5C258D); 
}
.gad_cl3 {
  background: #c04848;
  background: -webkit-linear-gradient(to top, #480048, #c04848);
  background: linear-gradient(to top, #480048, #c04848);
}

span.rg-path:after {
  content: "";
  position: absolute;
  width: 50px;
  border: 1.5px solid #fff;
}
.online-forms .pro-interview h4 {
  color: #fff;
  font-size: 15px;
  border: 0px;
  margin: 0px;
  padding: 15px;
  display: flex;
}

span.lf-path i {
  font-size: 40px;
}
span.rg-path {
  margin-left: auto;
  position: relative;
  line-height: 40px;
}
.int-pad {
  padding: 0px 0 0 20px;
}
.tab-content .tab-pane ul.days-calender.nav.nav.nav-tabs {
  border: 1px solid #ddd;
  width: 100%;
  background-color: #fff;
}
.tab-content .tab-pane ul.days-calender.nav.nav.nav-tabs li {
  background-color: #fff;
  width: 14.28%;
}
.tab-content .tab-pane ul.days-calender.nav.nav.nav-tabs li a {
  text-align: center;
}
.switch.switch-text .switch-label::before {
  right: 4px !important;
}
.fileviewimg {
  cursor: pointer;
}
.fileview_close {
  position: fixed;
  top: 15px;
  right: 40px;
}

.photo-viewer-container,
.photo-viewer-container img {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
}

.interview-buttons {
    width: 100%;
    display: flex;
	 padding: 10px;
}
.interview-buttons button.int-views.btn{
    margin: auto;
    background-color: #fff;
    color: #168170;
    font-size: 15px;
    border-radius: 60px;
    padding: 8px 30px;
}
.interview-rules {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
	flex-wrap: wrap;
	  
}
.interview-rules p{
  font-size: 14px;
    color: #fff;
	 width: 100%;
 }
	 .interview-rules p span {
    color: #ffffff;
    font-weight: bold;
}
.interview-rules span.int-send.badge {
    background-color: #fff;
    border-radius: 60px;
    padding: 10px 26px;
    color: #168270;
    font-size: 14px;
    cursor: pointer;
}
.interview-buttons span.int-views {
    background-color: #fff;
    border-radius: 60px;
    padding: 10px 26px;
    color: #168270;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
}
.interview-buttons span.int-qua.badge  {
    background-color: #fff;
    border-radius: 60px;
    padding: 10px 26px;
    color: #4CAF50;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
}
.interview-buttons span.int-dan.badge  {
    background-color: #fff;
    border-radius: 60px;
    padding: 10px 26px;
    color: #ec3433;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
}
.ref-gra1{
	background: #24C6DC;
	background: -webkit-linear-gradient(to right, #514A9D, #24C6DC); 
	background: linear-gradient(to right, #514A9D, #24C6DC); 
}
.ref-gra2{
   background: #5C258D; 
   background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  
   background: linear-gradient(to right, #4389A2, #5C258D); 
   }
button.btn-complance {
    background-color: #F44336;
    color: #fff;
    font-size: 15px;
    padding: 6px 30px;
    border-radius: 60px;
    margin: 10px 14px 0;
	border-color:#F44336;
}
button.btn-complance:hover {
color: #fff;
}
span.final-verification {
    background-color: #4CAF50;
    border-color: #4CAF50;
    padding: 10px 26px!important;
    border-radius: 60px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
span.information-qualifies.badge{
    background-color: #fff;
    color: #4CAF50;
    border: 2px solid #4CAF50;
	 padding: 10px 26px!important;
    border-radius: 60px;
	font-size: 14px;
    cursor: pointer;
}
span.information-disqualifies.badge{

background-color: #fff;
    color: #F44336;
    border: 2px solid #F44336;
	 padding: 10px 26px!important;
    border-radius: 60px;
	font-size: 14px;
    cursor: pointer;
	 background-color: #fff;
}
.switch.switch-text .switch-label::before, .switch.switch-text .switch-label::after{
    width: 70%!important;
}
li.line-values {
    line-height: 6px;
}
.DayPicker-Day{
    border-radius: 0!important;
}
.dropdown.show .dropdown-item {
    color: #fff!important;
    padding: 8px !important;
}
.dropdown.show .dropdown-header{
  font-weight:bold;
}
strong.late_fee{
    font-weight: 600;
    color: red;
    font-size: 14px;
}
.dropdown.show.nav-item .dropdown-item {
    color: #000 !important;
    padding: 8px !important;
}

.card-header {
    margin-bottom: 10px;
}
.dashboard-str .card-header {
    margin-bottom: 0;
}
.dashboard-str .card-body {
    padding-left: 0!important;
    padding-right: 0!important;
}
.dashboard-str .graph-cus.card-body{
    padding: 10px!important;
}
.card-body, .card-block{
    padding: 8px 0!important;
}
.login-header.card-header {
    background-color: #dde3e8!important;
    border: 1px solid #d1d4d7!important;
	margin-bottom: 0;
}
.login-functions.card-body {
    padding: 10px 15px!important;
	 background-color: #ffffff;
}


.login-register h1 {
    font-size: 18px;
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #151414;
    border-bottom: 1px solid #ddd
}
.register-sections.card-body {
    border: 1px solid #ddd;
    background-color: #fff;
}

h1.login-infos {
    font-size: 20px;
    margin-bottom: 10px
}
a.for-pass {
    color: red;
}
.ag-lo .card {
    background: #fff!important;
    width: 100%;
    display: flex;
}
.ag-lo.card-group {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
}
.reg-app h4 {
    font-size: 16px;
    color: #009688;
    padding: 10px 0;
    font-weight: 600;
}
.no-mar {
    margin: 0;
}
.reg-app{
height: 500px;
    overflow: auto;
}
.register-info.card {
    margin-top: 30px;
}
button.btn-add.btn.btn-success {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 10px;
}
.reg-app::-webkit-scrollbar {
  width: 5px;
}

.reg-app::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.reg-app::-webkit-scrollbar-thumb {
  background: #888; 
}

.reg-app::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.for-text p {
    color: #868282;
    font-size: 14px;
}
.portal-admin h2 {
    color: #000;
    font-size: 17px;
}

.bac-log {
    display: flex;
}
.bac-log button {
    margin-left: auto;
}
.located-map.card-header {
    background-color: #fff!important;
	    width: 100%;
    display: flex
}
span.left-loca {
    font-weight: bold;
}
span.right-loca {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
span.right-loca ul {
    margin: 0;
    display: inline-flex;
    padding: 0;
}
span.right-loca ul li {
    padding: 0px 10px;
    list-style: none;
    font-size: 14px;
    color: #4a4949;
}
span.right-loca ul li span{
    display: inline-block;
    border-radius: 50%;
	    width: 10px;
    height: 10px;
}
span.right-loca ul li.agency-pro span{
    background-color: #e42e18;
}
span.right-loca ul li.client-pro span{
    background-color: #4CAF50;
}
span.right-loca ul li.emply-pro span{
    background-color: #3F51B5;
}
span.right-loca ul li.building-pro span{
    background-color: #009688;
}
tbody tr td h2 {
    font-size: 16px;
    color: #635f5f;
}
.card-body .row .form-group input[type="text"], .card-block .row .form-group input[type="text"] {
    width: 100% !important;
    height: 38px!important;
}
.pay-image {
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
}
.pay-image img {
    width: 268px;
    object-fit: contain;
}
.small_map .left-mapdetails {
    width: 100%;
    float: left;
}
.small_map .right-mapdetails {
    width: 100%;
    float: left;
}
.small_map .left-mapdetails img {
    width: 60px;
    float: none;
    background-color: transparent;
    height: 60px;
    margin: 0;
    text-align: center;
    display: inherit;
    border-radius: 0;
    object-fit: cover;
    margin: auto;
}
.small_map p.view-det span{
    text-align: center;
}
.table th, .table td h5 {
    font-size: 15px;
}
.reg-widths {
    width: 100%;
    display: flex;
	margin-bottom: 10px;
}
.reg-widths input {
    margin-right: 0!important;  
}
td.Active {
  color: #12a245;
  font-weight: 600;
}
td.In-Active {
  color: #e44847;
  font-weight: 600;
}
.new-switch.same_address {
    width: 50px !important;
    height: 25px !important;
}
.switch.switch-text.same_address .switch-handle {
      top: 2px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    left: 3px !important;
}
.switch.switch-text.same_address .switch-input:checked ~ .new-handle {
  left: 24px !important;
  border-radius: 50%;
}
p.view-det.buttons span.badge.badge-danger {
  font-weight: 500;
  color: #fff;
  border-radius: 60px;
  padding: 8px 15px;
  background-color: #4DBD75;
  font-size: 12px;
}

p.view-det.job_type span {
    font-size: 16px;
    color: #000;
}
.rbc-date-cell.rbc-now > a, .rbc-date-cell.rbc-now > a:active, .rbc-date-cell.rbc-now > a:visited {
    color: #ffffff !important;
}
.payment-headings ul li.active {
    color: #000;
    font-weight: 600;
}
.Toastify__toast--success {
    background: #4dbd74!important;
}
button.btn.bnt-subs {
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 60px;
    padding: 7px 23px;
    margin: 30px 0 0;
}
.login-valid .input-group-prepend {
    margin-right: -1px;
    width: 10%;
    height: 38px;
}
.login-valid form.av-invalid input{
    height: 38px;
	width: 90%;
	    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.login-valid .intl-tel-input.allow-dropdown {
    width: 90%;
    height: 38px;
	    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.login-valid form.av-invalid .intl-tel-input.allow-dropdown input {
    height: 38px;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.login-valid .ser-page{
  width: 90%;
    height: 38px;
}
.login-valid form.av-invalid .ser-page input{
  width: 100%;
    height: 38px;
}

.ser-page {
    position: relative;
}
.ser-page .absolute {
    top: 40px !important;
}
.btn-danger{
    padding: 6px 30px;
    border-radius: 60px;
}
.Select-control{
 height: 38px;
}
.form-control{
    height: 38px;
}
.approve-app.btn.btn-success{
    margin-top: 10px; 
	padding: 6px 30px;
}
.custom_single_date .rdt{
    width: 35%;
}
